.Headertopline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    height: 65px;
    width: auto;

    @media (max-width: 1024px) {
        justify-content: center;
    }

    .Headertopline-contact-and-number {
        display: flex;
        justify-content: start;
        align-items: center;

        .in-number-text {
            text-align: left;
            padding: 0 15px 0 0;

            a {
                text-decoration-line: none;

                span {
                    color: #fff;
                    font-size: 15px;
                    line-height: normal;
                    font-weight: 500;
                    letter-spacing: 0.8px;

                    @media (max-width: 576px) {
                        font-size: 12px;
                    }
                }
            }
        }

        .Contact-text {
            padding: 0 0 0 15px;
            border-left: 1px solid rgb(43 50 69/ 1);

            a {
                text-decoration-line: none;

                span {
                    color: #fff;
                    font-family: "Plus Jakarta Sans", sans-serif;
                    font-size: 14px;
                    line-height: normal;
                    font-weight: 500;
                }
            }
        }
    }

    .World-title-main {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        @media (max-width: 1024px) {
            display: none;
        }

        p {
            color: #fff;
            font-family: "Plus Jakarta Sans", sans-serif;
            font-size: 16px;
            line-height: normal;
            font-weight: 500;
            letter-spacing: 1px;
        }

        .border-div-header {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: linear-gradient(88.9deg, #467bff 33.43%, #75d9d9 103.55%);
            animation: Borderrun 2s linear infinite alternate;

            @keyframes Borderrun {
                0% {
                    width: 0%;
                }

                50% {
                    width: 50%;
                }

                100% {
                    width: 100%;
                }
            }
        }
    }

    .Header-top-line-right-buttons {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 10px;

        @media (max-width: 1024px) {
            display: none;
        }

        .dropdown-container {
            position: relative;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                background-color: transparent;
                border: none;
                text-decoration-line: none;
                font-size: 18px;
                font-weight: 500;
                width: 85px;
                height: 51px;
            }

            .dropdown-menu {
                z-index: 99;
                position: absolute;
                top: 100%;
                right: 0;
                background: linear-gradient(88.9deg, #467bff 33.43%, #75d9d9 103.55%);
                border-radius: 0 0 20px 20px;

                .dropdown-content-main {
                    border-radius: 0 0 20px 20px;
                    position: relative;
                    box-sizing: border-box;
                    width: 100%;
                    height: 100%;

                    .dropdown-content {
                        border-radius: 0 0 20px 20px;
                        background-color: rgb(11 17 32 / 1);
                        // position: absolute;
                        // top: 2px;
                        // left: 0;
                        width: 100%;
                        margin: 2px 0;
                        height: calc(100% - 4px);
                        box-sizing: border-box;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        padding: 0 35px;

                        a {
                            text-decoration-line: none;
                            color: #fff;
                            min-width: max-content;
                            font-size: 14px;
                            font-weight: 500;
                            font-family: "Plus Jakarta Sans", sans-serif;
                            text-align: left;
                            word-break: keep-all;
                            display: block;
                            border: none;
                            height: auto;
                            width: 100%;
                            padding: 12px;
                            background-color: transparent;
                            border-radius: 12px;
                            transition: 0.4s ease-in-out;

                            &:hover {
                                transition: 0.4s ease-in-out;
                                background-color: rgb(43 50 69 / 1);
                            }
                        }
                    }
                }
            }
        }

        .Header-top-line-button {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 20px;

            button {
                border: none;
                font-size: 15px;
                font-weight: 500;
                line-height: 19px;
                text-align: center;
                font-family: "Plus Jakarta Sans", sans-serif;
                padding: 6px 15px;
                border-radius: 50px;
                cursor: pointer;
                transition: 0.4s ease-in-out;
            }

            button:nth-child(2n + 1) {
                color: #161d2f;
                background-color: #fff;
                transition: 0.4s ease-in-out;

                &:hover {
                    transition: 0.4s ease-in-out;
                    color: #fff;
                    background-color: rgb(22 29 47/1);
                }
            }

            button:nth-child(2n + 2) {
                background: linear-gradient(88.9deg, #467bff, #75d9d9 50%, #75d9d9 75%, #467bff 120%) !important;
                background-size: 200% auto !important;
                color: #fff;
                transition: 0.4s ease-in-out;

                &:hover {
                    transition: 0.4s ease-in-out;
                    background: linear-gradient(88.9deg, #467bff, #75d9d9 50%, #75d9d9 75%, #467bff 120%) !important;
                    background-size: 200% auto !important;
                    background-position: 100% !important;
                }
            }
        }
    }
}
