.mobile-header-main {
    display: none;
    height: 53px;
    width: calc(100% - 40px);
    padding: 0 20px;

    @media (max-width:1200px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .mobile-Header-logo {
        text-align: left;

        a {
            text-decoration-line: none;

            p {
                color: #fff;
                font-size: 20px;
                font-weight: 800;
                font-family: "Plus Jakarta Sans", sans-serif;
                position: relative;

                span {
                    background: linear-gradient(88.9deg, #467bff 33.43%, #75d9d9 103.55%);
                    color: transparent;
                    -webkit-background-clip: text;
                    background-clip: text;
                }

                // &::before {
                //     position: absolute;
                //     right: -15px;
                //     top: 0;
                //     content: "";
                //     background: linear-gradient(88.9deg, #467bff 33.43%, #75d9d9 103.55%);
                //     width: 4px;
                //     height: 15px;
                // }

                // &::after {
                //     position: absolute;
                //     right: -22px;
                //     top: 5px;
                //     content: "";
                //     background: linear-gradient(88.9deg, #467bff 33.43%, #75d9d9 103.55%);
                //     width: 4px;
                //     height: 15px;
                // }

                // strong {
                //     position: absolute;
                //     right: -29px;
                //     top: 0;
                //     content: "";
                //     background: linear-gradient(88.9deg, #467bff 33.43%, #75d9d9 103.55%);
                //     width: 4px;
                //     height: 15px;
                // }

                // b {
                //     position: absolute;
                //     right: -36px;
                //     top: 5px;
                //     content: "";
                //     background: linear-gradient(88.9deg, #467bff 33.43%, #75d9d9 103.55%);
                //     width: 4px;
                //     height: 15px;
                // }
            }
        }
    }

    .mobile-header-menu {

        img {
            cursor: pointer;
            width: 20px;
            height: 20px;
        }
    }
}