.container1 {
    max-width: 1028px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;

    .choose-where {
        padding: 0 0 80px 0;

        .title {
            text-align: center;
            margin-bottom: 100px;
            h2 {
                font-size: 40px;
                color: #fff;

                @media (max-width: 1024px) {
                    font-size: 30px;
                }
            }
        }

        .three-next-img-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            align-items: center;

            .whychoose-main {
                position: relative;
                .whychoose {
                    height: 132px;
                    position: relative;
                    overflow: hidden;
                    background-image: linear-gradient(142.26deg, #141b35 1.22%, #060b22 105.61%);
                    border-radius: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: end;
                    transition: 0.4s ease-in-out;

                    &:hover {
                        background-image: none;
                        background-color: #fff;
                        transition: 0.4s ease-in-out;
                        h3 {
                            color: #060b22;
                        }
                    }

                    &:before {
                        background: linear-gradient(
                            99.93deg,
                            rgba(136, 149, 172, 0.4),
                            rgba(32, 40, 59, 0.4) 10.42%,
                            rgba(74, 92, 135, 0.4) 32.81%,
                            rgba(32, 40, 59, 0.4)
                        );
                        content: "";
                        position: absolute;
                        inset: 0;
                        border-radius: inherit;
                        -webkit-mask:
                            linear-gradient(#fff 0 0) content-box,
                            linear-gradient(#fff 0 0);
                        -webkit-mask-composite: xor;
                        mask-composite: exclude;
                        padding: 2px;
                    }

                    h3 {
                        padding: 0 0 20px 0;
                        text-align: center;
                        z-index: 1;
                        font-weight: 400;
                        color: #fff;
                        font-size: 22px;

                        @media (max-width: 1024px) {
                            font-size: 16px;
                        }
                    }

                    .stripedCard {
                        position: absolute;
                        top: 50%;
                        img {
                            width: 100%;
                        }
                    }
                }

                .Whyforexicon {
                    position: absolute;
                    top: -90px;
                    left: 50%;
                    transform: translateX(-50%);

                    img {
                        width: 100%;
                    }

                    @media (max-width: 1024px) {
                        top: -65px;
                    }
                }
            }
        }
    }
}
