.get-in-touch {
    padding: 100px 0 80px 0;

    .container {
        max-width: 1372px;
        margin: 0 auto;
        padding: 0 20px;

        .title-get {
            h1 {
                font-size: 40px;
                text-align: center;
            }
        }
    }
}
